.tasks {
  margin: 120px 0;
  &__title {
    font-family: 'TTHoves-Light', sans-serif;
    font-size: 64px;
    color: #BDBDBD;
  }

  &__container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    gap: 30px;
  }

  &__task {
    display: flex;
    align-items: center;

    &--one {
      background: url(../../img/1.png) no-repeat center left;
      max-width: 400px;

      // & .tasks__task--text {
      //   margin: 30px 0 30px 120px;
      // }
      
    }

    &--two {
      background: url(../../img/2.png) no-repeat center left;
    }

    &--text {
      font-family: 'TTHoves-Regular', sans-serif;
      font-size: 22px;
      color: #333;
      line-height: 1.5;
      margin: 30px 0 30px 150px;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .tasks {
    margin: 60px 0;

    &__container {
      margin-top: 30px;
    }
    
    &__title{
      font-size: 34px;
    }

    &__task {
      &--text {
        font-size: 12px;
        margin: 20px 0;
        text-align: center;
      }

      &--one,
      &--two {
        background-size: contain;
        background-position: center center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .tasks {
    margin: 60px 0;
    
    
  }
}