.buttonNav {
  background-color: #fff;
  color: #333;
  border: none;
  transition: 0.5s ease;
  width: max-content;
  border: 1px solid #F2F2F2;
 
  &:hover {
    background-color: #F2F2F2;
  }

  &__link {
    font-family: 'TTHoves-Regular', sans-serif;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
    font-size: 12px;
    line-height: 1;
    padding: 24px 65px;
    transition: 0.3s linear;
  }
  
  &__arrow {    
    width: 17px;
    height: 8px;
    margin-left: 15px;

    & path {
      transition: 0.3s linear;
    }
  }
}