.about {
  font-family: 'TTHoves-Light', sans-serif;
  margin: 120px 0;

  &__container {
    display: flex;
    gap: 30px;
    background: #FBFBFB;
    padding: 30px 70px 30px 100px;
  }

  &__rectangle {
    display: flex;
    gap: 30px;

    & img {
      width: 100%;
    }

    &--left {
      display: flex;
      gap: 30px;
      flex-direction: column;
      margin-bottom: -60px;
    }

    &--right {
      flex-grow: 1;
      margin-top: 30px;
    }
  }

  &__description {
    max-width: 400px;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    justify-content: space-between;

    &--title {  
      font-size: 64px;
      font-weight: normal;
      color: #BDBDBD;
      line-height: 1;
    }

    &--text {
      font-size: 16px;
      text-align: left;
      color: #000;
    }
  }

  & button a:hover {
    padding: 24px 80px;
  }
}