.about {
  font-family: 'TTHoves-Light', sans-serif;
  margin-top: 120px;

  &__container {
    display: flex;
    gap: 30px;
    background: #FBFBFB;
    padding: 30px 70px 30px 100px;
  }

  &__rectangle {
    display: flex;
    gap: 30px;

    & img {
      width: 100%;
    }

    &--left {
      display: flex;
      gap: 30px;
      flex-direction: column;
      margin-bottom: -60px;
    }

    &--right {
      flex-grow: 1;
      margin-top: 30px;
    }
  }

  &__description {
    max-width: 400px;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    justify-content: space-between;

    &--title {  
      font-size: 64px;
      font-weight: normal;
      color: #BDBDBD;
      line-height: 1;
      padding-bottom: 10px;
    }

    &--text {
      font-size: 16px;
      text-align: left;
      color: #000;
      padding-bottom: 10px;
    }
  }

  & button a:hover {
    padding: 24px 80px;
  }
}

@media only screen and (max-width: 1024px) {

  .about {
    &__container {
      flex-direction: column;
      padding: 10px
    }

    &__description {
      position: relative;
      max-width: 100%;

      &--text {
        margin-bottom: 75px;
      }
    }

    &__rectangle {
      justify-content: center;

      & img {
        height: 100%;
        object-fit: cover;
      }

      &--left,
      &--right {
        margin: 0;
        flex-grow: 0;
      }
    }  

    & button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    margin-top: 60px;

    &__rectangle {
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 425px) {
  .about {

    &__description {
      &--title {
        font-size: 34px;
      }

      &--text {
        font-size: 14px;
      }
    }
   
  }
}